/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Generic styles*/

p {
  margin: 0;
}

body {
  width: 100%;
  height: 1000px;
  background-color: #051726;
}

/*Image styles for logo*/

img {
  width: 43%;
  min-width: 500px;
  text-align: center;
  margin: 0;
  padding: 0px;
  position: absolute;
  position: relative;
  top: -50px;
}

/*select pay frequency container styles*/

#pay-frequency {
  width: 16%;
  min-width: 200px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  -webkit-box-shadow: 1px 1px 4px 1px #aaa;
  box-shadow: 1px 1px 4px 1px #aaa;
  font-family: sans-serif;
  position: relative;
  top: -240px;
  border: solid 2px #6edab9;
  margin-top: -15px;
  border-radius: 21px;
}

#pay-frequency * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#pay-frequency h2 {
  text-align: center;
  margin-bottom: 30px;
}

/*Class to move logo around within a div*/
.logo {
  width: 100%;
  height: auto;
  text-align: center;
}
/*Div that holds both graph and regular logo*/

.section-div {
  position: absolute;
  position: relative;
  bottom: 40px;
}

/* button styles */

#salaryMonthly {
  border: none;
  background: rgb(54, 156, 28);
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  -webkit-transition-property: background-color, border-color, color,
    -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow,
    -webkit-filter;
  -o-transition-property: background-color, border-color, color, box-shadow,
    filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter,
    -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 40px;
  color: #81ffd9;
  background-color: black;
  height: 48px;
  position: absolute;
  position: relative;
  top: -20px;
  margin: 10px;
  padding-top: 9px;
  left: 45px;
}

#salaryBiweekly {
  border: none;
  background: rgb(54, 156, 28);
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  -webkit-transition-property: background-color, border-color, color,
    -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow,
    -webkit-filter;
  -o-transition-property: background-color, border-color, color, box-shadow,
    filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter,
    -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 33px;
  color: #81ffd9;
  background-color: black;
  height: 48px;
  position: absolute;
  position: relative;
  top: -20px;
  margin: 10px;
  padding-top: 9px;
  left: 48px;
}

.pay-type {
  padding: 7px;
}

/*Media Queries*/

@media (max-width: 1668px) {
  img {
    padding: 25px;
  }

  #weekly,
  #biweekly {
    position: relative;
    left: 21px;
  }
}

/* Media 1440px */

@media (max-width: 1440px) {
  img {
    padding: 40px;
  }

  #salaryMonthly,
  #salaryBiweekly {
    position: relative;
    left: 5px;
  }
}

/*Media 1300px */

@media (max-width: 1300px) {
  img {
    margin-bottom: 30px;
  }
}

/* Media 540px */

@media (max-width: 540px) {
  #salaryMonthly,
  #salaryBiweekly {
    position: relative;
    left: -3px;
  }
}

/*Media 480px */

@media (max-width: 480px) {
  body {
    height: 580px;
  }

  html {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .section-div {
    height: 570px;
  }
  .logo {
    margin-left: -50px;
    position: relative;
    bottom: 10px;
  }
}
/*Media 430px */

@media (max-width: 430px) {
  .logo {
    margin-left: -95px;
  }
}

/*Media 414px */

@media (max-width: 414px) {
  .logo {
    margin-left: -90px;
  }
  img {
    min-width: 480px;
    height: auto;
  }
}

/*Media 393px */

@media (max-width: 393px) {
  .logo {
    margin-left: -85px;
  }
}

/*Media 375px */

@media (max-width: 375px) {
  img {
    min-width: 415px;
  }

  .logo {
    margin-left: -70px;
    position: relative;
    bottom: 10px;
  }
  #pay-frequency {
    position: relative;
    left: -0px;
    top: -230px;
  }
}

/*Media 360px */

@media (max-width: 360px) {
  img {
    min-width: 415px;
  }

  .logo {
    margin-left: -85px;
    position: relative;
    bottom: 10px;
  }

  #pay-frequency {
    position: relative;
    left: -0px;
    top: -230px;
  }
  /* Media 320px */

  @media (max-width: 320px) {
    .logo {
      position: relative;
      right: 9px;
    }

    #pay-frequency {
      position: relative;
      right: 5px;
    }
  }
}
